body{
  font-family: 'Andale Mono'; 
  background:url('https://thumbs.gfycat.com/HotAcrobaticLabradorretriever-size_restricted.gif');
  color:white;
  padding:150px 0px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productCard{
  flex-direction: column;
  justify-content: center;
  border: 2px solid white;
  border-radius: 3px;
  width: 450px;
  margin-bottom: 15px;
  padding:15px;
}

.productDescription p{
  margin: 0;
  padding: 0;
}

h3{
  background-color: white;
  color: black;
}






/* .Product {
  background: white;
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  border-radius: 3px;
  width: 100px;
  height: 100px;
  margin: 25px;
} */


